/* 메인 페이지 전용 스타일 */

/* ---------------------------------------------- 
음식 갤러리 영역
----------------------------------------------- */
.food-gallery {
    display: flex; /* 이미지 칸 4개가  가로로 나열되어 잇음. 가로로 되게 해주려면, display : flex 준다. */
    flex-wrap: wrap;
    }

    .food-gallery .food-item {
        flex: none;
        width: 25%; /* 한 줄에 4개씩 보이게 하고 싶을 때 */
        padding: 20px 10px;
    }

    .food-gallery .food-item a {
        display: block;
    }

    /* 이미지를 감싸는 박스 */
    .food-gallery .food-item a .img-wrapper {
        width: 100%;
        height: 360px;
        overflow: hidden; /* 이미지가 이 박스를 벗어날 경우 잘라냄 */
    }

    .food-gallery .food-item a .img-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }

    .food-gallery .food-item a:hover .img-wrapper img {
        transform: scale(1.1, 1.1);
    }

    .food-gallery .food-item a .food-content {
        padding: 15px 10px;
        text-align: center;
    }

    .food-gallery .food-item a .food-content h2 {
        font-size: 22px;
        margin-bottom: 12px;
        line-height: 130%;
    }

    @media only screen and (min-width: 600px) and (max-width: 767px) {
        .food-gallery .food-item {
            width: 50%; /* 한 줄에 2개씩 나열 */
        }
    }

    @media only screen and (max-width: 599px) {
        .food-gallery .food-item {
            width: 100%; /* 한 줄에 1개씩 나열 */
        } 
    }

    .pagenation {
        display: flex; /* 가로로 배치되어야 할때는 무조건 */
        justify-content: center; /* 가운데로 오게 */
    }

    .pagenation li {
        width: 32px;
        height: 32px;
    }

    .pagenation li a {
        display: flex; /* 박스안에서 글자가 좌측 상단에 쏠려있을 땐, block 아니라 flex로 바꾸고,
                          display: flex; justify-content: center;  align-items: center; => 3개가 한 세트 */
        justify-content: center;
        align-items: center;
        font-size: 18px;
        width: 100%; /* 부모요소인 li 태그 박스를 가득 채우게 */
        height: 100%;
    }

    .pagenation li.active {
        background-color: black;
    }

    .pagenation li.active a {
        color: #fff;
    }

    .pagenation li a:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }


/* ---------------------------------------------- 
중앙 구분선 
---------------------------------------------- */
    .divider {
        margin: 60px;
        width: auto;
        border-top: 1px solid #ddd;
        border-bottom: 0;
    }

/* ---------------------------------------------- 
쉐프 소개 영역
----------------------------------------------- */
.profile-container {
    text-align: center;
    word-wrap: break-word;
}

    .profile-container h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 32px;
    }

    .profile-container img {
        max-width: 100%; /* width : 100%를 주면 다짜고짜 화면 가득 채움. 그림의 원본사이즈를 유지하면서 화면에 맞게 줄어듬 max-width */
        height: auto;
        margin-bottom: 20px;
    }

    .profile-container h3 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .profile-container h4 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    .profile-container p {
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
        margin-bottom: 30px;
        padding: 0 25px; /* 모바일에서 좌우 여백을 주면, 답답해보이지 않고 가독성에 도움을 많이 준다. */
    }

    